@import './utils/variables';
@import './base/reset';
@import './base/common';
@import './utils/hidden';

@import './components/header';
@import './components/logo';
@import './components/contacts';
@import './components/hero';
@import './components/btn';
@import './components/list-list-container';
@import './components/about-section';
@import './components/team-section';
@import './components/card';
@import './components/social-icons';
@import './components/client-box';
@import './components/footer';
@import './components/form-footer';
@import './components/button-section';
@import './components/card-list';
@import './components/modal';
@import './components/modal-input';
