.advantage__title {
  color: var(--secondarycolor);
}

.advantage__list {
  margin-top: 0;
  display: flex;
  justify-content: center;
}

.advantage__container {
  width: 270px;
  border-radius: 4px;
  & + & {
    margin-left: 30px;
  }
}
.advantage__icon {
  padding: 25px 100px;
  background: #f5f4fa;
}

.advantage__second-title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  line-height: 114%;
  margin-top: 30px;
}
.advantage__text {
  font-size: 14px;
  line-height: 171%;
  margin-top: 10px;
}
