.header {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ececec;
}
.nav {
  display: flex;
  background-color: var(--backgroundcolor);
}

.nav-list {
  display: flex;
  flex-direction: row;
  margin-left: 93px;
}
.nav-list_item {
  margin-left: 50px;
  & .nav-list__link {
    padding: 32px 0;
  }
  &:first-child {
    margin-left: 0;
    padding-left: 0;
  }
}
.nav-list__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 114%;
  text-decoration: none;
  color: var(--secondarycolor);
  transition: color var(--transition);
  &:hover,
  &:focus {
    color: var(--accentcolor);
    transition-property: color;
  }
}
.current {
  position: relative;
  color: var(--accentcolor);
  transition-property: color;

  &:before {
    position: absolute;
    bottom: -1px;
    content: '';
    width: 100%;
    height: 4px;
    background-color: var(--accentcolor);
    border-radius: 2px;
  }
}
